.newItemRow {
  border-radius: 1rem;
  /* border: 0.125rem solid #d4d2d2; */
  display: flex;
  overflow: hidden;
  background-color: #fff;
  transition: scale 0.3s ease;
}
.newItemRow * {
  color: var(--textBlack);
}
.newItemRow:hover {
  cursor: pointer;
  box-shadow: 0 0.75rem 2.088rem rgba(0, 0, 0, 25%);
  scale: 1.02;
}
.newItemRow img {
  flex: 1;
  height: 100%;
}
.type {
  width: fit-content;
  padding: 4px;
  font-size: 0.8rem;
  font-weight: 600;
  /* color: #5468e7; */
  border: 3px solid #000;
  border-radius: 8px;
}
.title {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.img {
  border-radius: 1rem;
}
.note {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.container {
  order: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  gap: 1rem;
}
.context {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.box_info {
  display: flex;
  gap: 2.5rem;
}
.info {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
}
.info p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
@media (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .newItemRow img {
    height: 11.25rem;
  }
  .title {
    /* font-size: 20px; */
    -webkit-line-clamp: 1;
  }
  /* .note {
    font-size: 18px;
  }
  .info {
    font-size: 14px;
  } */
}
@media (min-width: 769px) and (max-width: 1023px) {
  .newItemRow img {
    height: 9.375rem;
  }
  .title {
    /* font-size: 16px; */
    -webkit-line-clamp: 1;
  }
  /* .note {
    font-size: 14px;
  }
  .info {
    font-size:0.75rem;
  } */
  .context {
    gap: 0.125rem;
  }
  .container {
    /* gap:0.5rem; */
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0.625rem 1.25rem 1.25rem 1.25rem;
  }
  .newItemRow {
    border-radius: 0.5rem;
    border: 0.125rem solid #d4d2d2;
    overflow: hidden;
    flex-direction: column;
  }
  .newItemRow img {
    width: 100%;
    height: auto;
  }
  .context {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
  }
  .box_info {
    display: flex;
    justify-content: space-between;
  }
  .title {
    -webkit-line-clamp: 2;
  }
  .context {
    gap: 0.375rem;
  }
  .newItemRow {
    margin-bottom: 1.5rem;
  }
  .type {
    font-size: 1.3rem;
  }
  .title {
    font-size: 1.4rem;
  }
  .note {
    font-size: 1rem;
  }
  .info {
    /* gap:0.75rem; */
    font-size: 1rem;
  }
}
