.bg_img {
  height: 100%;
  border-radius: 8px;
  padding: 1rem 2rem;
}
.bg_img * {
  color: #f0f0f0;
}
.box_info {
  display: flex;
}
.bg_img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 36px;
  border-bottom: 2px solid #fff;
  padding-bottom: 40px;
}
.info {
  display: flex;
  gap: 10px;
}
.box_info {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
.type {
  background-color: rgba(0, 0, 0, 0.6);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 4px;
}
.type p {
  font-size: 18px;
}
@media (min-width: 1024px) and (max-width: 1239px) {
}
@media (max-width: 1023px) {
  .bg_img {
    height: 500px;
  }
  .title {
    font-size: 28px;
  }
}
