.search_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 4rem 0;
}
.search_bar_item {
  display: flex;
}
.inp {
  width: 30vw;
  padding: 0.7rem 0.4rem;
  border-left: 1.7px solid #000;
  border-bottom: 1.7px solid #000;
  border-top: 1.7px solid #000;
  border-radius: 0.5rem 0 0 0.5rem;
}
.listNews {
  display: flex;
}
.active {
  background-color: transparent !important;
  cursor: pointer;
  font-weight: 700;
  color: #5468e7;
  /* text-decoration: underline; */
}

.pagination {
  display: flex;
  gap: 0.625rem;
  align-items: baseline;
  text-align: end;
  justify-content: center;
  padding: 2.5rem 0 11.25rem 0;
}
.btn_pagination {
  background-color: #232340;
  color: #fff;
  padding: 0.625rem 0.938rem;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 10.5rem;
}
.btn_active {
  background-color: #5468e7;
}
.btn_default {
  background-color: #8b8b8b;
  cursor: default;
}
.addNewsButton {
  margin: 1rem 0;
}

@media (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1239px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (max-width: 739px) {
  .head {
    height: 18.75rem;
  }
  .search_btn {
    width: 100%;
    font-size: 1.25rem;
  }
}
