.bg_img {
  height: 100%;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.bg_img * {
  color: #fff;
}
.box_info {
  display: flex;
  flex-direction: column;
}
.bg_img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  font-size: 3rem;
  /* border-bottom: 0.125rem solid #fff;
  padding-bottom: 2.5rem; */
  padding-top: 12px;
}
.info {
  display: flex;
  gap: 0.625rem;
}
.info p {
  font-size: 2rem;
}
.box_info {
  gap: 1rem;
  padding-top: 1.25rem;
}
.type {
  /* background-color: rgba(0, 0, 0, 0.6); */
  width: fit-content;
  border: 3px solid #fff;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
}
.type p {
  font-size: 1.3rem;
}
.note {
  font-size: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
@media (min-width: 1024px) and (max-width: 1239px) {
}
@media (max-width: 1023px) {
  .bg_img {
    height: 31.25rem;
    margin-bottom: 2.5rem;
  }
  .title {
    font-size: 20.5rem;
  }
}
