.container {
  height: 100vh;
}
.bx_info {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 30px;
}
.name {
  font-size: 40px;
  font-weight: 700;
}

.box_info {
  padding: 20px 10px;
}
.info {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.info + .info {
  margin-top: 10px;
}
